
node_modules
mongo
.idea
bower_components
server/public/images/temp
server/public/images/color
server/public/images/changeColor
server/public/images/convert
server/public/images/temp_convert
server/public/lib
.sass-cache
Ionic/EP/www/lib
Ionic/EP/plugins
Ionic/EP/hooks
Ionic/EP/.gitignore
Ionic/EP/node_modules