<h1 class="header"
    flex="100">
    Pattern
</h1>

<div layout-gt-sm="row"
     layout-sm="column">
    <div layout="column"
         flex-gt-sm="30"
         flex-sm="100">
        <md-toolbar class="md-toolbar-tools md-primary"
                    layout="column">
            <div>DMC string</div>
            <div ng-show="$mdMedia('sm')||$mdMedia('xs')"
                       flex="100"
                       ng-click="colorToggle()">
                <i class="material-icons open-button"
                   ng-show="!showColor">
                    expand_more
                </i>
                <i class="material-icons open-button"
                   ng-show="showColor">
                    expand_less
                </i>
            </div>
        </md-toolbar>
        <div class="border content-box"
             ng-hide="$mdMedia('sm')||$mdMedia('xs')"
             ng-show="showColor">
            <list-of-color></list-of-color>
        </div>
    </div>


    <div layout="column"
         flex-gt-sm="70"
         flex-sm="100">
        <md-toolbar class="md-toolbar-tools md-primary"
                    layout="row">
            <md-button ng-click="fit()">
                FIT
            </md-button>
            <md-button ng-click="zoomIn()">
                <i class="material-icons button-icon">zoom_in</i>
            </md-button>
            <md-button ng-click="zoomOut()">
                <i class="material-icons button-icon">zoom_out</i>
            </md-button>
        </md-toolbar>
        <md-content style="max-height: 70vh;">
            <img ng-src="{{address}}{{id}}{{extension}}"
                 class="thumb imagePreview"
                 zoom-in
                 zoom-out
                 fit>
        </md-content>
    </div>

</div>