<div layout="row"
     layout-wrap>
    <h1 id="header">Upload page</h1>


    <div>
        <form name="myForm">
            <fieldset>
                <legend>Upload on form submit</legend>

                <md-input-container ng-if="formShow"
                                    layout="row"
                                    flex="100">
                    <label flex="15">
                        Width x Height:
                    </label>
                    <md-slider min="5"
                               flex="70"
                               max="{{imageParams.maxWidth}}"
                               ng-model="imageParams.widthImage"
                               step="5"
                               id="width-slider"
                               class="md-primary"
                               aria-label="5"
                               ng-change="widthChange(imageParams.widthImage)">
                    </md-slider>
                    <div flex="15">
                        <input type="number"
                               ng-model="imageParams.widthImage"
                               ng-change="widthChange(imageParams.widthImage)"
                               flex="50"
                               required
                               id="input-width">

                        <p flex="50"
                           id="p-size-image">
                            x {{imageParams.heightImage}} pixels
                        </p>
                    </div>
                </md-input-container>

                <md-input-container ng-show="formShow"
                                    layout="row"
                                    flex="100">
                    <label flex="15">
                        Number of color:
                    </label>
                    <md-slider min="5"
                               flex="70"
                               max="200"
                               ng-model="numberOfColor"
                               step="5"
                               id="color-slider"
                               class="md-primary"
                               aria-label="5">
                    </md-slider>
                    <input type="number"
                           ng-model="numberOfColor"
                           flex="15"
                           required>
                </md-input-container>
                Profile Picture:
                <input type="file"
                       ngf-select=""
                       ng-model="picFile"
                       name="file"
                       ngf-accept="'image/*'"
                       required="">
                <i ng-show="myForm.file.$error.required">
                    *required
                </i>
                <br>
                <button ng-disabled="!myForm.$valid"
                        ng-click="uploadPic(picFile)">
                    Submit
                </button>
                <img ngf-src="picFile"
                     class="thumb"
                     id="picFile"
                     image-processing
                     image-on-load="imageLoaded(result)">
              <span class="progress"
                    ng-show="picFile.progress >= 0">
                  <div style="width:{{picFile.progress}}%"
                       ng-bind="picFile.progress + '%'"
                       class="ng-binding">
                  </div>
              </span>
                <span ng-show="picFile.result">
                    Upload Successful
                </span>
                <img ng-if="imageResult" ng-src="/public/images/temp_convert/{{imageResultUrl}}">
            </fieldset>
        </form>

    </div>


</div>