#logo {
  text-decoration: none;
  padding-left: 15px;
}


#logo-p {
  display: inline-block;
  vertical-align: middle;
  font-size: $h1FontSize;
  color: $accentColor;
}

#logo-icon {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.full-button {
width:100%;
}