$mainColor: #009688;
$lightMainColor: #d1b1ff;
$darkColor: #8a00c6;
$secondColor: #6ee4ff;
$lightSecondColor: #dafaff;


form .progress {
  line-height: 15px;
}


.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: $mainColor;
  width: 0;
}









