.invalid {
  color: red;
}

.input-container {
  width: 100%;
  margin: 8px 0;
}

form .progress {
  line-height: 15px;
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: $accentColor;
  width: 0;
}

.preview-block {
  display: block;
  max-height: 90vh;
}

.button-icon {
  vertical-align: middle;
}

.imagePreview {
  height: 99%;
  image-rendering:  pixelated;
}

.preview-container {
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: auto;
  height: 400px;
}

.convert-button {
  @media screen and (max-width: $mediumScreen) {
    width: 100%;
  }
}

.border {
  border:1px solid $primaryColor;
}

.listOfColor {
  display: inline-block;
}

.colorCircle {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.dialog {
  width:80%
}

.dialog-list-color {
  width: 48px;
  text-align: center;
}

.dialog-list-number {

  width: 72px;
  text-align: center;
}




