<div>
    <div layout-gt-sm="row"
         layout-sm="column"
         layout-align="space-around center"
         flex-gt-sm="70"
         flex-sm="100">
        <md-button ng-class="{'full-button': $mdMedia('sm')||$mdMedia('xs')}" href="#/">Home</md-button>
        <md-button ng-class="{'full-button': $mdMedia('sm')||$mdMedia('xs')}" ui-sref="app.uploadImage">Upload image</md-button>
        <md-button ng-class="{'full-button': $mdMedia('sm')||$mdMedia('xs')}" ui-sref="app.freePattern">Free pattern</md-button>
        <md-button ng-class="{'full-button': $mdMedia('sm')||$mdMedia('xs')}" ui-sref="app.learn">Learn</md-button>
    </div>
    <div layout-gt-sm="row"
         layout-sm="column"
         layout-align="end center"
         flex-gt-sm="30"
         flex-sm="100">
        <md-button class="md-raised md-accent"
                   ng-hide="registarationSuccess || loginSuccess"
                   ng-class="{'full-button': $mdMedia('sm')||$mdMedia('xs')}"
                   ng-click="showLogIn($event)">Log In</md-button>
        <md-button class="md-raised md-accent"
                   ng-hide="registarationSuccess || loginSuccess"
                   ng-class="{'full-button': $mdMedia('sm')||$mdMedia('xs')}"
                   ng-click="showRegistration($event)">Registration</md-button>
        <h2 ng-show="registarationSuccess || loginSuccess">{{user.login}}</h2>
        <md-button class="md-raised md-accent"
                   ng-show="registarationSuccess || loginSuccess"
                   ng-class="{'full-button': $mdMedia('sm')||$mdMedia('xs')}">
            Log Out</md-button>
    </div>
</div>