$baseURL: "http://localhost:3000";

$primaryColor: #886aea;
$accentColor: #69F0AE;
$lightPurple: #faf5ff;

.accent {
  background-color: $accentColor;
}

.primary {
  background-color: $primaryColor;
  color: $lightPurple;
}


.ligthPurple {
  background-color: $lightPurple;
}

$h1FontSize: 30px;
$h2FontSize: 24px;
